
/******************************************  
 CUSTOM STYLESHEET
*******************************************/

/*
* You can place your custom CSS statements in this file, after this message.
* It is better to write everything custom here
* because this file won't be replaced during updates.
* 
* Simply copy an existing style from style.css to this file, 
* and modify it to your liking.
*/


#fancybox-close{right:-15px;top:-15px}
div#fancybox-content{border-color:#FFFFFF}
div#fancybox-title{background-color:#FFFFFF}
div#fancybox-outer{background-color:#FFFFFF}
div#fancybox-title-inside{color:#333333}


#main{
	background-color: #F7EFDA;
/*	background-image: url("../images/bg-img3.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-color: rgba(255, 255, 255, 0.5); 
*/}
.p-presentation h3{
	margin-bottom: 25px;
	font-family: Georgia,serif;
}



#no-img-bg{
	background-image: none !important;
}

#content-wrap { 
	padding: 10px 20px;
}


#footer .column a{
	color: #fff;
}

#btnbox h2{
	font-family: serif;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 15px;
	color: #5B1C15;
}

#btnbox .content p{
	padding:0 45px;
	color: #373A3B;
	font-style: normal;
	margin: 15px 0;
}

#header-wrap #title{
	margin-top: 130px !important;
}

.gallery-content{
	min-height: 150px;
	padding-left: 50px;
	padding-top: 50px;
	/*padding: 15px;*/
}
.gallery-content .threecol-one{
	float: left;
	margin-right: 4px;
	margin-top: 4px;
	width: 200px;
	height: 180px;
	cursor: pointer;
}

.gallery-content .threecol-one img{
	width: 100%;
}

.contact-page .threecol-one{
	float: left;
}

#nav-rapide ul{
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

#nav-rapide li{
	float: left;
	padding: 5px 10px;
	list-style-type: none;
	border: 1px solid green;
	margin-right: 3px;
	text-align: center;
}

.texteenavant{
	font-size: 15px;
	font-weight: bolder;
}

.textimportant{
	
}


#content-wrap .threecol-one{
	float: left;
	width: 30%;
	font-size: 14px;
	padding: 10px;
	text-align: justify;
	line-height: 23px;
}

#content-wrap .threecol-one img{
	border-radius: 25px;
}

#content-wrap .threecol-one .post-thumb{
	margin-bottom: 10px;
}

.price span{
	font-size: 8px;
}
/*footer*/

#meta-3{
	width: 250px;
}

div.jp-audio,
div.jp-video {
  /* Edit the font-size to counteract inherited font sizing.
   * Eg. 1.25em = 1 / 0.8em
   */
  font-size:1.25em;
}

.news_widget .price{
	float: right;
}
