/*********************************************************************************************


**********************************************************************************************

*********************************************************************************************/

/* Reset & General Styling */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { 
	display: block; 
}

html { 
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

abbr[title] { 
	border-bottom: 1px dotted; 
}

b, strong { 
	font-weight: bold; 
}

blockquote { 
	margin: 1em 40px; 
}

dfn { 
	font-style: italic; 
}

hr { 
	border: 0; 
	border-top: 1px solid #ccc; 
	display: block; 
	margin: 1em 0; 
	padding: 0; 
}

ins { 
	background: #ff9; 
	color: #000; 
	text-decoration: none; 
}

mark { 
	background: #ff0; 
	color: #000; 
	font-style: italic; 
	font-weight: bold; 
}

pre, code, kbd, samp { 
	font-family: monospace, monospace; 
	_font-family: 'courier new', monospace; 
	font-size: 1em; 
}

pre, code { 
	white-space: pre; 
	white-space: pre-wrap; 
	word-wrap: break-word; 
}

q { 
	quotes: none; 
}

q:before, q:after { 
	content: ""; 
	content: none; 
}

small { 
	font-size: 85%; 
}

sub, sup { 
	font-size: 75%; 
	line-height: 0; 
	position: relative; 
	vertical-align: baseline; 
}

sup { 
	top: -0.5em; 
}

sub { 
	bottom: -0.25em; 
}

ul, ol { 
	margin: 0; 
	padding: 0; 
	list-style-position: inside; 
}

ul ul, ol ol, ul ol, ol ul { margin: 0; }
dd { margin: 0 0 0 40px; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure, form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type=button], input[type=reset], input[type=submit] { cursor: pointer; -webkit-appearance: button; }
input[type=checkbox], input[type=radio] { box-sizing: border-box; }
input[type=search] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
th { text-align: left; }
tr, th, td { padding-right: 1.625em; border-bottom: 1px solid #EAE7DE; }
td { vertical-align: top; }


/* Smart clearfix */
.clear, .cleaner { clear: both; height: 0; overflow: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Headings */
h1,h2,h3,h4,h5,h6 {font-weight: normal; margin:0; padding:0; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {text-decoration:none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {text-decoration:none;  }
h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
 
h3.title {
    font-weight:300;
    font-size:27px;
	color: #10a4dd;
	margin-bottom: 15px;
}
h3.title a { font-weight: 300; }


/* Tooltip effect */
.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  
	background-image: url('images/tipsy.gif'); font-family:Arial, Helvetica, sans-serif;}
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

/* Navigation  */
div.navigation { font-size: 0; text-align:center; line-height: normal; padding: 20px 0 0; border-top: 1px solid #dbd9c8; margin: 0; }
div.navigation p,  div.wp-pagenavi { margin: 0; font-size: 13px; font-weight: bold; text-align: center; }
div.navigation a, div.navigation span { display: inline-block; font-size: 16px; font-weight: 900; text-decoration: none; line-height: normal; color: #fff; background: #bebcab; padding: 8px 16px; border: 1px solid #aaa; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4); margin: 0 10px 0 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
div.navigation :last-child { margin: 0; }
div.navigation span.current { background: #a3cd58; background: -moz-linear-gradient(top, #aed665, #a3cd58); background: -webkit-linear-gradient(top, #aed665, #a3cd58); background: linear-gradient(top, #aed665, #a3cd58); border-color: #93ba4a; }
div.navigation a:hover, div.navigation a:active { text-decoration: none; background: #55533c; border-color: #3d3b25; }

div.navigation .extend { border: none; }
div.navigation .alignleft, div.navigation .alignright { margin: 0; }

.floatleft { float: left; }
.floatright { float: right; }


/* Forms */
input, textarea { 
	padding:7px 5px; 
	border: 1px solid #eaeaea;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	border-radius: 2px; 
	background: #f7f7f7; 
	-webkit-box-sizing: 
	border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

input:focus, textarea:focus { border-color: #999; }

button, 
input[type=button], 
input[type=reset], 
input[type=submit],
.post .readmore a,
#header #reservez_btn a,
#btnbox .btn a,
#about .btn a,
#featdishes .btn a,
#respond input[type='submit'] { 
	width: auto;
	display: inline-block;
	font-size: 13px;
	/*font-family: 'Lato', Arial, Helvetica, sans-serif;*/
	font-family: Georgia,serif;
	font-weight: 600;
 	text-decoration: none;
	line-height: normal;
	color: #546b29;
	background: #a3cd58;
	background: -moz-linear-gradient(top, #aed665, #a3cd58);
	background: -webkit-linear-gradient(top, #aed665, #a3cd58);
	background: linear-gradient(top, #aed665, #a3cd58);
	padding: 7px 18px;
	border: 1px solid #93ba4a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

button:hover, 
input[type=button]:hover, 
input[type=reset]:hover, 
input[type=submit]:hover,
.post .readmore a:hover, 
#header #reservez_btn a:hover,
#btnbox .btn a:hover,
#about .btn a:hover,
#featdishes .btn a:hover,
#respond input[type='submit']:hover, #respond input[type='submit']:focus  { 
	background: #b1dc66;
	background: -moz-linear-gradient(top, #bbe473, #b1dc66);
	background: -webkit-linear-gradient(top, #bbe473, #b1dc66);
	background: linear-gradient(top, #bbe473, #b1dc66);
}
 

button:active, 
input[type=button]:active, 
input[type=reset]:active, 
input[type=submit]:active,
.post .readmore a:active, 
#header #reservez_btn a:active,
#btnbox .btn a:active,
#about .btn a:active,
#featdishes .btn a:active,
#respond input[type='submit']:active  { 
	background: #b1dc66;
	background: -moz-linear-gradient(top, #b1dc66, #bbe473);
	background: -webkit-linear-gradient(top, #b1dc66, #bbe473);
	background: linear-gradient(top, #b1dc66, #bbe473);
}
#respond input[type='submit']::-moz-focus-inner { border: 0; padding: 0; }


#header #reservez_btn a {
	display: block;
}


#btnbox .btn a,
#featdishes .btn a {
	display: inline-block;
	font-size: 16px;
	padding: 13px 30px;

} 


/* Gravity Forms */ 
.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
	padding: 7px 0 7px 3px !important;
	font-size:14px !important;
}

.gform_wrapper textarea {
	padding: 7px 0 7px 3px !important;
	font-size:14px !important;
}

.gform_wrapper {
	background: #fff !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;	
	padding: 20px !important;
	margin-top: 0 !important;
}
 

/********************************************************************************************* 

2. Global Styles  -------------------------  header.php

*********************************************************************************************/  

body {
    color: #555;
    /*font-family: 'Lato', Arial, Helvetica, sans-serif;*/
    font-family: Georgia,serif;
    text-align: center;
    font-size:14px;
    line-height:1.6;
	background: #f7f6ec url('../images/bg.gif');
	margin: 0;
}
 

/* Links */
a {text-decoration:none; color: #333; outline:none; border:none;}
a:hover {text-decoration:underline; color: #8548c9;}

p {margin: 0 0 16px; }


#wrapper {
    text-align: center;
}

#inner-wrap {
	text-align: left;
}

#header-wrap {
	text-align: center;
	background: center center no-repeat;
	background-size: cover;
	min-height: 210px;
	padding-top: 40px;
	background-image:url('../images/header-page-resa.png')
}

.home #header-wrap {
	background: none;
	min-height: 0;
	padding-top: 0;
}


#header {
	position: relative;
	text-align: left;
	background-color: #634630;
	color: #fff;
	width: 980px;
	padding: 0;
	border-bottom: 3px solid #8548c9;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin: 0 auto;
}

.home #header {
	position: absolute;
	top: 40px;
	left: 50%;
	z-index: 200;
	margin: 0 0 0 -490px;
}

#logo {
	float:left;
 	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin: 0;
}

#logo img {
	padding:15px 0 15px 15px;
}


#logo h1, #logo h1 a {
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	color: #fff;
}

#logo h1 {
	height: 100%;
	width: 100%;
	background-color: #2a2c2d;
}

#logo h1:hover {
	background-color: #000;
}

#logo h1 a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 12px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#header #reservez_btn {
	float: right;
	margin: 13px 15px 0 0;
}

#header #numphone {
	position: absolute;
	top: -30px;
	right: 0;
	font: italic 16px Georgia, serif;
	text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
	color: #373a3b;
}

#header #numphone a {
	color: #fff;
}

.tax-menu-category #header-wrap #title { 
	display: none; 
}

#header-wrap #title {
	display: inline-block;
	font: 30px Georgia, serif;
	color: #242728;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px 15px;
	margin: 50px 0 0;
}

#header-wrap #title:before, #header-wrap #title:after {
	content: '';
	display: inline-block;
	vertical-align: 3px;
	background: url('../images/title-decoration.png') 0 0 no-repeat;
	height: 12px;
	width: 41px;
}
#header-wrap #title:before { margin-right: 15px; }
#header-wrap #title:after { background-position: -61px 0; margin-left: 15px; }


#content-wrap { position: relative; width: 980px; padding: 0; margin: 0 auto; }
#content-wrap:before { content: ''; display: block; height: 3px; background: #750e30; background: -moz-linear-gradient(left, #750e30, #750e30 16.6%, #f00452 16.6%, #f00452 33.3%, #fa8f54 33.3%, #fa8f54 50%, #f5bb00 50%, #f5bb00 66.6%, #aed665 66.6%, #aed665 83.3%, #5ea1d5 83.3%, #5ea1d5); background: -webkit-linear-gradient(left, #750e30, #750e30 16.6%, #f00452 16.6%, #f00452 33.3%, #fa8f54 33.3%, #fa8f54 50%, #f5bb00 50%, #f5bb00 66.6%, #aed665 66.6%, #aed665 83.3%, #5ea1d5 83.3%, #5ea1d5); background: linear-gradient(left, #750e30, #750e30 16.6%, #f00452 16.6%, #f00452 33.3%, #fa8f54 33.3%, #fa8f54 50%, #f5bb00 50%, #f5bb00 66.6%, #aed665 66.6%, #aed665 83.3%, #5ea1d5 83.3%, #5ea1d5); margin: 0 0 40px; }
.home #content-wrap { margin-top: 50px; }
.home #content-wrap:before, #content-wrap.hasfeats:before { display: none; }


/********************************************************************************************* 

3. Navigation  -------------------------  header.php
   
*********************************************************************************************/  

#menu {
	float: left;
	position:relative;
	margin-left: 20px;
}
.btn_menu { display:none; }
 
.dropdown, .dropdown * { margin: 0; padding: 0; list-style: none; }
.dropdown { line-height: normal; }
.dropdown ul { position: absolute; top: -999em; width: 170px; background: #373a3b; border-bottom: 3px solid #8548c9; text-align: left; margin: 0; padding: 5px; }
.dropdown ul li { width: 100%; }
.dropdown li:hover { visibility: inherit; }
.dropdown li { float: left; position: relative; margin: 0; }
.dropdown li:last-child { margin-right: 0; }

.dropdown > li > a { 
	font: 13px Georgia, serif; 
	text-transform: uppercase; 
	line-height: normal; 
	color: #fff; 
	padding: 0; 
}

.dropdown a:hover { 
	text-decoration: none; 
	text-shadow: none; 
	color: green; 
}


.dropdown > li { line-height: 52px; }
.dropdown > li:after { 
	content: '/'; 
	color: #858a8c; 
	margin: 0 17px; 
}
.dropdown > li:last-child:after { content: ''; margin: 0; }
.dropdown > li > a { -moz-transition: all 100ms; -webkit-transition: all 100ms; transition: all 100ms; }
.dropdown ul li a,
.dropdown li:hover  ul a { display: block; line-height: 1.5; text-transform: none; font-size: 13px; padding: 3px 10px; color: #878e91; background: none; }
.dropdown ul li a:hover { background: none; color: #fff; }
.dropdown ul li:hover { background: none; }
.dropdown li:hover ul,
.dropdown li.sfHover ul { left: -15px; top: 36px; z-index: 200; line-height: normal; }
ul.dropdown li:hover li ul,
ul.dropdown li.sfHover li ul { top: -999em; }
ul.dropdown li li:hover ul,
ul.dropdown li li.sfHover ul { left: 180px; top: 0; }
ul.dropdown li li:hover li ul,
ul.dropdown li li.sfHover li ul { top: -999em; }
ul.dropdown li li li:hover ul,
ul.dropdown li li li.sfHover ul { left: 180px; top: 0; }
.dropdown li:hover, .dropdown li.sfHover,
.dropdown a:focus, .dropdown a:hover, .dropdown a:active { outline: 0; }
.dropdown li ul .sf-sub-indicator { display: inline; }
li.current-menu-item a,  
li.current_page_item a,  
li.current-menu-ancestor a,  
li.current-menu-parent a,  
li.current_page_parent  a { color: #fff; }
li.current-menu-item a:after,  
li.current_page_item a:after,  
li.current-menu-ancestor a:after,  
li.current-menu-parent a:after,  
li.current_page_parent  a:after {  }


/********************************************************************************************* 

4. Featured Slider -------------------------  wpzoom-slider.php

*********************************************************************************************/   
 
#slider { margin:0; position:relative; height:620px; overflow:hidden; }

#slider #no-slider-posts { width: 980px; margin: 150px auto 0; }
#slider #no-slider-posts p { margin: 0; }

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.flexslider {margin: 0; padding: 0;}
.slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
#slider .slides > li { position: relative; background-position: center center; background-repeat: no-repeat; background-size: cover; height: 620px; overflow: hidden; }

.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}

.flexslider {margin: 0 0 15px;   position: relative;   zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}

#slider .details { position: absolute; top: 0; left: 50%; width: 980px; margin: 0 0 0 -490px; }

#slider .details > div { 
	position: absolute; 
	top: 180px; 
	right: 40px; 
	z-index: 100; 
	text-align: center; 
	background: url('../images/bg75.png') no-repeat; 
	height: 325px; 
	width: 325px; 
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%; 
	margin: 0; 
}

#slider .details .items { position: relative; list-style: none; }
#slider .details .items > li { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
#slider .details .items > li:first-child { display: block; }
#slider .details .items > li a, #slider .details .items > li span { display: inline-block; text-decoration: none; max-width: 260px;   }

#slider .details .items > li span { 
	margin: 43px 0 0; 
	background: url('../images/slider-decoration.png') 50% 0 no-repeat; 
}

#slider .details h3 { display: inline-block; font: 30px Georgia, serif; word-wrap: break-word; line-height: 1.2; color: #fff; max-width: 220px; padding: 30px 0 15px; margin: 0; }
#slider .details .excerpt { display: inline-block; font-size: 13px; line-height: 1.5; color: #D4D1D8; padding: 0; margin: 0; }
#slider .details .excerpt :last-child { margin-bottom: 0; }


/* Directional Nav */
.flex-direction-nav {
	position: absolute;
	left: 142px;
	bottom: 40px;
	z-index: 100;
}

.flex-direction-nav > li {
	float: left;
}

.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
	display: block;
	text-indent: -9999em;
	background: url('images/slider-arrows.gif') 0 0 no-repeat;
	height: 23px;
	width: 12px;
	overflow: hidden;
	opacity: 0.5;
}

.flex-direction-nav .flex-prev:hover, .flex-direction-nav .flex-prev:active, .flex-direction-nav .flex-next:hover, .flex-direction-nav .flex-next:active {
	opacity: 1;
}

.flex-direction-nav .flex-prev {
	margin-right: 16px;
}

.flex-direction-nav .flex-next {
	background-position: -62px 0;
}

/* Nav Thumbs */
#slidenav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

#slidenav ul {
	list-style: none;
	width: 980px;
	margin: 0 auto;
}

#slidenav ul li {
	display: inline-block;
	color: #fff !important;
	background-color: #1A7859;
	width: 160px;
	cursor: pointer;
}

#slidenav ul li .post-thumb {
	height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#slidenav ul li:hover .post-thumb, #slidenav ul li.flex-active .post-thumb {
	height: 106px;
}

#slidenav ul li .post-thumb img {
	margin: 10px 10px 0;
}

#slidenav ul li h4 {
	font: 13px Georgia, serif;
	font-weight: normal;
	text-align: center;
	line-height: normal;
	padding: 10px;
}



/********************************************************************************************* 

5. Homepage ----------------------------- index.php

*********************************************************************************************/   

#btnbox {
	text-align: center;
	margin: 0 0 30px;
}

#btnbox h2 {
	font: 34px Georgia, serif;
	font-weight: normal;
	line-height: normal;
	color: #373a3b;
	margin: 0 0 15px;
}

#btnbox h2:before, #btnbox h2:after {
	content: '';
	display: inline-block;
	/*background: url('images/btnbox-decoration.png') 0 0 no-repeat;*/
	background: url("../images/title-decoration.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 12px;
	width: 41px;
	vertical-align: 5px;
	margin: 0 15px 0 0;
}

#btnbox h2:after {
	background-position: -61px 0;
	margin: 0 0 0 15px;
}

#btnbox .content {
	padding: 0 0 50px;
	border-bottom: 1px solid #e4e8e9;
	line-height: 28px;
}

#btnbox .content :last-child {
	margin-bottom: 0;
}

#btnbox .btn {
	margin: -25px 0 0;
}
 
#about {
	padding: 0 0 30px;
	border-bottom: 1px solid #e4e8e9;
	margin: 0 0 40px;
}

#about h2 {
	font: 34px Georgia, serif;
	font-weight: normal;
	line-height: normal;
	/*color: #373a3b;*/
	color: #5B1C15;
	margin: 0 0 25px;
	padding-top:35px;
}

#about > .content {
 	margin: 0 0 25px;
}

#about .content :last-child {
	margin-bottom: 0;
}


#about .hours {
	float: right;
	text-align: center;
	/*background: url('images/menu-bg.png') 0 0 no-repeat;*/
	background: url("../images/bg-horaires.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 200px;
	width: 300px;
	/*padding: 70px 20px 65px 39px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 0 0 30px;
	color: #fff;
}

#about .hours h3 {
	font: bold 20px Georgia, serif;
	font-style: italic;
	line-height: normal;
	color: #a8d15e;
	margin: 0 0 15px;
}

#about .hours .content {
	font-size: 15px;
	line-height: 2;
}

#about .hours .content strong {
	color: #b3b0a9;
}

#featured-dishes {
	padding: 0 0 50px;
	border-bottom: 1px solid #e4e8e9;
	margin: 0 0 20px;
}

#featured-dishes h2 {
	font: 34px Georgia, serif;
	font-weight: normal;
	line-height: normal;
	/*color: #373a3b;*/
	color: #5B1C15;
	margin: 0 0 25px;
}

#featured-dishes ul {
	list-style: none;
}

#featured-dishes ul li {
	float: left;
	color: #7d8183;
	background: #fff;
	width: 220px;
	margin: 0 33px 30px 0;
}

#featured-dishes ul li:nth-child(4n+4){
	margin-right: 0;
}

#featured-dishes ul li .content {
	padding: 10px 15px 15px;
}
 
#featured-dishes h3 {
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	color: #373a3b;
	margin: 4px 0 8px;
}

#home-widgets {
	
}

#home-widgets .widget {
 	width: 48%;
	/*margin: 0 30px 30px 0;*/
	margin-right: 30px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
 	zoom: 1;
	*display: inline;
}

#home-widgets .widget:nth-child(2n) {
	margin-right: 0;
}


#home-widgets .widget h3.title {
	font: 28px Georgia, serif;
	font-weight: normal;
	line-height: normal;
	color: #373a3b;
	margin: 0 0 30px;
}

.recent-dishes {
	
}

.recent-dishes li {
	margin: 0 0 30px;
}

.recent-dishes li:last-child {
	margin: 0;
}

.recent-dishes .post-thumb {
	float: left;
	margin: 0 15px 0 0;
}

.recent-dishes h4 {
	line-height: normal;
}

.recent-dishes h4 {
	margin: 0 0 8px;
	font-weight: bold;
	color: #373a3b;
}

.recent-dishes .post-excerpt :last-child {
	margin-bottom: 0;
}

.recent-dishes .price {
	float: right;
	color: #5f6162;
	/*background: #fff;*/
	/*padding: 15px 10px;*/

}

.recent-dishes .price span{
	font-size: 8px;
}


/********************************************************************************************* 

6. Archives/Blog posts  -------------------------  loop.php

*********************************************************************************************/   
 
.post {
	padding:0;
	margin:0 0 40px;
}

.single .post { margin:0; }

.page .entry, .archive .entry { background:none; padding-bottom:0;}

.post .meta {
	font-size: 13px;
	line-height: normal;
	color: #7d8183;
	background: #fff;
	padding: 10px;
	margin-bottom:15px;
}

.post .meta p {
	display: inline-block;
	line-height: 2;
	vertical-align: middle;
	padding: 0;
	margin: 0 30px 0 0;
}

.post .meta p { padding-left: 25px; margin-right:25px; }
.post .meta p.author   { background: url('images/author.png') no-repeat 0 5px; }
.post .meta p.date  { background: url('images/date.png') no-repeat 0 5px; }
.post .meta p.category  { background: url('images/category.png') no-repeat 0 5px; }
.post .meta p.comments  { background: url('images/comments.png') no-repeat 0 7px; }

.post .meta p:last-child {
	margin: 0;
}

.post .meta a {
	color: #7d8183;
}

.post .meta a:hover, .post .meta a:active {
	color: #8548C9;
}

.post .post-thumb {
    font-size: 0;
		margin: 0 0 10px;
}


.post .postcontent { line-height: 1.6; color: #aeb2b4; overflow: hidden; }

.post .postcontent :last-child { margin-bottom: 0; }
 
.post .postmetadata { margin: 0 0 10px; }
 
.post_content h1 a { margin-bottom:10px; }
	
.post h2.title {
	font-size:18px;
	padding: 0 0 5px;
	border-bottom: 1px solid #dbd9c8;
	margin:0 0 25px;
}

.post h2.title a {
	line-height: 1.2; 
	font-size:18px;
	color:#373a3b;
	font-weight:bold;
}
	
.post h2.title a:hover {
	text-decoration:none;
	color: #8548c9;
}

.post h2.title small, .post h2.title small a {
	font-size: 12px;
	color: #999;
}

.post h2.title small {
	margin-left: 20px;
}

.post h2.title small a:hover, .post h2.title small a:active {
	color: #000;
}

 
/********************************************************************************************* 

7. Single Posts Styling  ---------------------------------	 single.php, page.php

*********************************************************************************************/   
 

#content.fullwidth, #content.fullwidth .post_content { display: block; padding-right: 0; }

.post_content {
	text-align: center;
	/*width:640px;*/
}

.post_content .content{
	width: 28%;
	float: left;
	padding-left: 25px;
}

.post_content h1 {
	font-size:18px;
	padding: 0 0 5px;
	border-bottom: 1px solid #dbd9c8;
	margin:0 0 25px;
}

.post_content h1 a {
	line-height: 1.2; 
	font-size:18px;
	color:#373a3b;
	font-weight:bold;
}
	
.post_content h1 a:hover {
	text-decoration:none;
	color: #8548C9;
}

.post_content h1 small, .post_content h1 small a {
	font-size: 12px;
	color: #999;
}

.post_content h1 small {
	margin-left: 20px;
}

.post_content h1 small a:hover, .post_content h1 small a:active {
	color: #000;
}
	
.meta {
	margin:5px 0 0;
	font-weight:normal;
	font-size:12px;
}
		
.meta a { 
	text-decoration:none;
	font-weight:normal;
}

.meta span {	
	color:#DDDBDB;
	padding:0 5px;
}
	
p.postmetadata {
	font-size: 11px;
	margin: 0;
	color: #999; 
}
	 
.entry {
	clear: left;
  	overflow: hidden;
 	line-height: 1.7;
}
 

.page .entry {
	background: transparent;
	padding-bottom: 0;
}


.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
	font-weight: bold;
	margin-bottom: 12px; 
	line-height:1.3;
	color:#3D3D3D;
	}

.entry p { margin-bottom: 14px; }

.entry a { color:#8548C9; }
 
 
.entry img { margin-bottom:10px; }

.entry img.alignnone, 
.entry img.aligncenter, 
.entry img.alignleft, 
.entry img.alignright {
	margin-bottom: 10px;
	max-width:640px;
	width:auto;
 	height:auto;
}

.full-width .entry img.alignnone, 
.full-width .entry img.aligncenter, 
.full-width .entry img.alignleft, 
.full-width .entry img.alignright {
	max-width:980px;
}

.entry .galleria-container img { border:0; padding:0; }

.entry ul, .entry ol { margin: 0 0 14px 14px; }
.entry li ul, .entry li ol { margin-bottom: 0; }
.entry li { list-style-position: inside; }
.entry ul li { list-style-type: square; }
.entry ol li { list-style-type: decimal; }
 
.entry blockquote {
	font-style: italic;
 	font-size: 14px;
 	border-left: solid 5px #ACD563;
  	padding: 15px;
	margin: 10px 10px 10px 0; 
	background:#fff;

}

 
 
.side-left .post_content {
 	 float:right;
 	 padding-left:40px; 
 	 padding-right: 0;
}
	
.side-left #sidebar {
 	float:left;
}
 	
.full-width .post_content {
	padding-right: 0;
	width: 100%; 
}

/* [gallery] shortcode */
.entry .gallery .gallery-item { display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; margin: 10px; }
.entry .gallery { margin: auto; text-align: center; clear: both; }

/* Images align */
.entry .aligncenter, div.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignleft, .entry .alignleft { float: left; margin: 5px 15px 5px 3px; }
.alignright, .entry .alignright { float: right; margin: 5px 4px 5px 15px; }

/* Caption for Images */
.entry .wp-caption { max-width: 100% !important; text-align:center;   }
.entry .wp-caption img { background:none; margin:0; border:0 none; max-width:100%;  width:auto; height:auto;}
.entry .wp-caption-text, .gallery-caption { color:#A7A3A3; font-size:11px; margin:0; padding:4px 0 0; text-align:center; }
.entry .wp-caption.aligncenter { margin:0 auto 15px; }

img.wp-smiley { padding: 0; border: none; }


/* Tags */
.single .tags_list {  font-weight: bold;  margin:5px 0 10px; }
.single .tags_list a { padding: 2px 0; color: #838383; font-weight: normal; line-height: 2.5; }
 

.thumbnails { background: #FFFDEA; border: 1px solid #EEE7AB; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; clear: both; float: left; padding: 10px 10px 5px; margin: 10px 0 20px; font-size: 11px; line-height: 1.6em; }
.thumbnails img { margin: 5px 15px 10px; width: 144px; height: 144px; }

.sticky, .bypostauthor { }


/********************************************************************************************* 

8. Menu Page Template Styling  -----------  template-menu.php, template-menu-widgetized.php

*********************************************************************************************/ 

#featdishes { background: #fff; }
#featdishes > div { width: 980px; padding: 0 0 60px; margin: 0 auto; }
#featdishes > div:before { content: ''; display: block; height: 3px; background: #750e30; background: -moz-linear-gradient(left, #750e30, #750e30 16.6%, #f00452 16.6%, #f00452 33.3%, #fa8f54 33.3%, #fa8f54 50%, #f5bb00 50%, #f5bb00 66.6%, #aed665 66.6%, #aed665 83.3%, #5ea1d5 83.3%, #5ea1d5); background: -webkit-linear-gradient(left, #750e30, #750e30 16.6%, #f00452 16.6%, #f00452 33.3%, #fa8f54 33.3%, #fa8f54 50%, #f5bb00 50%, #f5bb00 66.6%, #aed665 66.6%, #aed665 83.3%, #5ea1d5 83.3%, #5ea1d5); background: linear-gradient(left, #750e30, #750e30 16.6%, #f00452 16.6%, #f00452 33.3%, #fa8f54 33.3%, #fa8f54 50%, #f5bb00 50%, #f5bb00 66.6%, #aed665 66.6%, #aed665 83.3%, #5ea1d5 83.3%, #5ea1d5); margin: 0 0 60px; }

#featdishes .post { position: relative; float: left; background: #f0f0f0; width: 300px; margin: 40px 0 0 40px; }
#featdishes .post:first-child, #featdishes .post:nth-child(4n) { margin-left: 0; }
#featdishes .post:nth-child(-n+3) { margin-top: 0; }
#featdishes .post .category { position: absolute; top: -12px; left: 0; right: 0; text-align: center; }
#featdishes .post .category span { display: inline-block; position: relative; font-size: 15px; font-weight: bold; text-decoration: none; line-height: 26px; color: #fff; background: #D74949; min-width: 70px; max-width: 240px; padding: 0 20px; }
#featdishes .post .category span:before, #featdishes .post .category span:after { content: ''; display: block; position: absolute; top: 0; bottom: 0; border: 13px solid transparent; border-top-color: #D74949; border-left-width: 7px; border-right-width: 7px; border-bottom-color: #D74949; }
#featdishes .post .category span:before { left: -7px; border-right: 0; }
#featdishes .post .category span:after { right: -7px; border-left: 0; }
#featdishes .post .category.catcolor1 span { background: #FA8F54; } #featdishes .post .category.catcolor1 span:before, #featdishes .post .category.catcolor1 span:after { border-top-color: #FA8F54; border-bottom-color: #FA8F54; }
#featdishes .post .category.catcolor2 span  { background: #D74949; } #featdishes .post .category.catcolor2 span:before, #featdishes .post .category.catcolor2 span:after { border-top-color: #D74949; border-bottom-color: #D74949; }
#featdishes .post .category.catcolor3 span { background: #8CAF01; } #featdishes .post .category.catcolor3 span:before, #featdishes .post .category.catcolor3 span:after { border-top-color: #8CAF01; border-bottom-color: #8CAF01; }
#featdishes .post .post-thumb { margin: 0; }
#featdishes .post .price { position: absolute; top: 85px; right: 10px; font: 15px Georgia, serif; line-height: 55px; text-align: center; color: #fff; background: #373a3b; height: 55px; width: 55px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin: 0; }
#featdishes .post .content { padding: 10px 15px; }
#featdishes .post h3 { font-size: 14px; font-weight: bold; line-height: normal; margin: 0 0 3px; }
#featdishes .post .excerpt > * { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
#featdishes .post :last-child { margin-bottom: 0; }
#featdishes .btn { text-align: center; -moz-box-shadow: inset 0 24px 0 #fff, inset 0 25px 0 #e4e8e9; -webkit-box-shadow: inset 0 24px 0 #fff, inset 0 25px 0 #e4e8e9; box-shadow: inset 0 24px 0 #fff, inset 0 25px 0 #e4e8e9; margin: 50px 0 0; }

 
#categories .category:last-child { padding-bottom: 80px; }
#categories .category:nth-child(even) { background: #fff; }
#categories .category > div { width: 980px; padding: 40px 0; margin: 0 auto; }

#categories .category h2 { 
	font: 36px Georgia, serif; 
	text-align: center; 
	line-height: normal; 
	color: #5B1C15; 
	padding: 0 0 15px; 
	border-bottom: 1px solid #dbd9c8; 
	margin: 0 0 25px;  
}

#categories .category .post { float: left; background: #fff; width: 465px; padding: 5px; margin: 0 30px 30px 0; }
#categories .category:nth-child(even) .post { background: #f5f5f5; }
#categories .category .post:nth-child(2n) { margin-right: 0; }
#categories .category .post:nth-last-child(-n+2) { margin-bottom: 0; }
#categories .category .post .post-thumb { float: left; width: 100px; margin: 0; }
#categories .category .post .content { float: left; width: 340px; padding: 5px 10px 5px 15px; }

#categories .category .post .titleprice { 
	-moz-box-shadow: inset 0 9px 0 #fff, inset 0 10px 0 #ddd; 
	-webkit-box-shadow: inset 0 9px 0 #fff, inset 0 10px 0 #ddd; 
	box-shadow: inset 0 9px 0 #fff, inset 0 10px 0 #ddd; 
}

#categories .category:nth-child(even) .post .titleprice { 
	-moz-box-shadow: inset 0 9px 0 #f5f5f5, inset 0 10px 0 #ddd; 
	-webkit-box-shadow: inset 0 9px 0 #f5f5f5, inset 0 10px 0 #ddd; 
	box-shadow: inset 0 9px 0 #f5f5f5, inset 0 10px 0 #ddd; 
}

#categories .category .post h3, #categories .category .post .price { 
	background: #fff; 
}

#categories .category:nth-child(even) .post h3, #categories .category:nth-child(even) .post .price { 
	background: #f5f5f5; 
}

#categories .category .post h3 { 
	float: left; 
	font-size: 14px; 
	font-weight: bold; 
	line-height: normal; 
	padding-right: 10px; 
}

#categories .category .post .price { 
	float: right; 
	font: 14px Georgia, serif; 
	font-weight: bold; 
	line-height: normal; 
	color: #779d32; 
	padding-left: 10px; 
}

#categories .category .post .excerpt { 
	line-height: 1.6; 
	padding: 5px 0 0; 
}

#categories .category .post .excerpt :last-child { 
	margin: 0; 
}


/********************************************************************************************* 

9. Comments  -------------------------  comments.php

*********************************************************************************************/   

#comments { margin: 30px 0 0; }
#comments h3 { font-size: 18px; font-weight: bold; color: #373a3b; padding: 0 0 5px; border-bottom: 1px solid #dbd9c8; margin: 0 0 25px; }
#comments #respond h3 {  }
 

#comments .navigation { padding: 0 0 18px 0; }
.commentlist { list-style: none; border-bottom:0; padding:0; margin:0 0 30px;}
.commentlist li.comment { margin: 0 0 30px; }
.commentlist li:last-child { border-bottom: none; margin-bottom: 0; }
.commentlist li.comment > div { display: table; position: relative; width: 100%; }
#comments .comment-body ul, #comments .comment-body ol { margin-bottom: 18px; }
#comments .comment-body :last-child { margin-bottom: 0; }
.commentlist ol { list-style: decimal; }
.commentlist .avatarandreply, .commentlist .contents { display: table-cell; vertical-align: top; }
.commentlist .avatarandreply { width: 104px; }
.commentlist .avatarandreply > div { text-align: center; background: #fff; width: 72px; padding: 8px 8px 5px; }
.commentlist .contents { background: #fff; padding: 10px 15px; border-left: 7px solid #d9d7c5; margin: 0 0 0 16px; }
.commentlist .contents:before { content: ''; display: block; position: absolute; top: 36px; left: 94px; border: 5px solid rgba(217, 215, 197, 0); border-top-width: 8px; border-right-color: #d9d7c5; border-bottom-width: 8px; }
.commentlist .avatar {  }
.reply { font-size: 11px; margin: 5px 0 0; }
.reply a { color: #7d7d7d; }
.reply a:hover, .reply a:active { text-decoration: none; color: #000; }
.reply, .reply a { line-height: normal; }
.comment-author { line-height: normal; margin-bottom: 10px; }
.comment-author cite { color: #6b8837; font-weight: bold; font-style:normal; font-size:13px; }
.comment-meta { display: inline; font-size: 12px;  margin: 0 0 0 5px; }
.comment-meta a:link, .comment-meta a:visited { color: #888; text-decoration: none; }
.comment-meta a:active, .comment-meta a:hover { color: #333; }
.commentlist .children { list-style: none; margin: 30px 0 0 40px; }
.commentlist .children li { border: none; }
.nopassword, .nocomments { display: none; }
#comments .pingback {margin-bottom: 18px; padding-bottom: 18px; }
.commentlist li.comment+li.pingback { margin-top: -6px; }
#comments .pingback p { color: #888; display: block; font-size: 12px; line-height: 18px; margin: 0; }
#comments .pingback .url { font-size: 13px; font-style: italic; }
.comment-notes { display:none; }
 
#respond #commentform { font-size: 13px; color: #979797; background: #fff; }
#respond .form_fields { 
	display: table; 
	width: 100%; 
	border-spacing: 20px; 
}
#respond .form_fields p { display: table-cell; }
#respond .comment-form-comment, #respond .form-submit { padding: 0 20px; }
#respond .form-submit { padding-bottom: 20px; }
#respond .form-allowed-tags { display:none; }
#formLabels { float: left; }
#main #formLabels p { float: left; display: inline; margin: 0 0 10px; width: 100%; color: #8B8B8B; }
#respond label { display: block; font-size: 13px; margin-bottom: 5px; }
#respond .form_fields p .required_lab { color:#EB5419;}
#formLabels p.last { margin-right: 0; }
#respond textarea { font-family: Arial; padding:10px; }
#respond input, #respond textarea { display: block; width: 100%; }
#respond input:focus, #respond textarea:focus { border-color: #999; }
#respond input { padding: 6px; }
#respond ::-webkit-input-placeholder { color: #999; }
#respond :-moz-placeholder { color: #999; }
#respond :-ms-input-placeholder { color: #999; }
#respond #formContent { margin: 7px 0; float: right; }
#respond .logged-in-as { padding: 20px; margin: 0; }

#cancel-comment-reply-link { font-size: 12px; font-weight: normal; line-height: 18px; }

.comment-list li #respond p { margin-left: 0; }
#comments .commentlist li #respond h3 { background:none; margin-top:20px;}
#comments .commentlist li #respond  { border-top:none; }
#trackbacks { float: left; width: 100%; }
#trackbacks ol { padding: 10px 0; }
#trackbacks li { list-style-type: decimal; padding: 5px 0 5px 15px; }


/********************************************************************************************* 

10. Sidebar & Footer Widgets -------------------------  sidebar.php, footer.php

*********************************************************************************************/   
  
#sidebar {
	width: 300px; 
	position:relative;
	margin:0;
	float:right;
	overflow: hidden;
}
 
#sidebar .widget {
	margin-bottom: 40px;
 	position:relative; 
}

#sidebar .widget h3.title {
	font-size: 18px;
	font-weight: bold;
	color: #373a3b;
	padding: 0 0 5px;
	border-bottom: 1px solid #dbd9c8;
	margin:0 0 25px;
}

#sidebar .widget .content { background: #fff; padding: 15px; }

.widget a {	font-weight:bold; }

#sidebar .widget a:hover { text-decoration: none; }
	
.widget ul { clear: both;  line-height: 1.7; }
.widget ul li { list-style-type: none; }
.widget ul ul { margin: 0; padding: 0; border-top: none; }
.widget ul ul li { border: none; }

.widget #cat, .widget select { width: 100%;  border: 1px solid #cdcfd4; color: #333333; display: inline; padding: 5px; line-height: 1.5; clear: both; float: left;  }

.widget_tag_cloud a {
 	line-height:1.3em;
	font-weight:normal;
}

/* Recent Comments */
.recent-comments-list .avatar {	margin-right: 12px;	float: left;   }
.recent-comments-list li { padding: 6px 0 10px; margin:0 0 5px; border-bottom: 1px solid #eee; line-height:1.4;  }
.recent-comments-list li a { font-size:12px; }


/* Instagram Widget */
#instagram_widget li { float: left; margin: 5px; list-style-position:outside; }
#instagram_widget li img { width:80px;  -webkit-border-radius: 3px; border-radius: 3px; }
#instagram_widget li img:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60); opacity: 0.6; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out;}

 
 /* Twitter widget */
.widget .twitter-list li { padding: 0 0 10px; margin: 0 0 10px; font-size:14px; border-bottom:1px solid #F3F3F3; }
.widget .twitter-list li a { font-weight: normal; }
.widget .twitter-list .twitter-timestamp { display: block; color: #B9B9B9; font-size: 12px; font-style: normal;   }
.widget .follow-user { margin: 0; padding: 5px 0; }
#footer .widget .twitter-list li { padding: 0 0 10px; margin: 0 0 10px; font-size:14px; border-bottom:none; }


/* Social widget */
/*.wpzoomSocial  {margin:10px 3px;}
.wpzoomSocial li {float:left; margin:8px 15px 8px 0; list-style-position:outside; }
.wpzoom-social .wpzoomSocial { clear:none; margin:0;} 
*/

/* Recent News Widget */
.news_widget li { position: relative; float: left; width:100%; margin:0 0 30px;}
.news_widget li:last-child { margin-right: 0; }
.news_widget .date { float:right;  font-size:12px; text-align: center; text-transform: uppercase; color: #5F6162; background-color: #fff; line-height:1; padding:10px; pointer-events: none; }
.news_widget .date .day { font-size: 16px; font-weight: 900; }
.news_widget .date .month { display: block; }
.home .news_widget h4 {  line-height: normal; padding-bottom: 8px;  }
.news_widget h4 a { color: #373A3B; }
.news_widget a:hover { color: #939798; }
#home-widgets .news_widget .meta { display:none; }
#sidebar .news_widget .date { display:none; }
#sidebar .news_widget { margin-left:0; }
.news_widget li img { margin-right:10px; float:left; line-height:1.5;}
#sidebar .meta { display:block; margin:0; }
#sidebar .news_widget li { padding: 0 0 15px; margin: 0 0 15px; border-bottom: 1px solid #eee;  }
#sidebar .news_widget li  h4 { font-size:14px; }
.single #sidebar .news_widget h4 { background: transparent; padding: 0; margin: 0; }

#footer .news_widget .date { display:none; }
#footer .news_widget { margin-left:0; }
#footer .news_widget li a { margin-left:0; float:none; line-height:1.5;}
#footer .meta { display:block; margin:0; }
#footer .news_widget li { padding: 10px 0; margin:0; }
.news_widget br {display: none;}
.news_widget img { margin: 0; }
.news_widget span.meta { font-size: 9px; color: #A9A9A9; margin: 2px 0 4px; display: block; }
.news_widget .post-excerpt { display: block; }

 
/* Archives Widget */
.widget_archive li { width:42%; float:left; font-size:14px;  margin:0 2% 10px 0;   }
 
 
/* Category Widget */
.widget_categories li { font-size:14px; margin:0 0 10px;  }
.widget_categories li a {  font-weight:normal;}

  
/* Calendar widget */
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; font-weight:bold;  font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #EFEEEE; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #E8E8E8; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
 

/********************************************************************************************* 

11. Footer  -------------------------  footer.php

*********************************************************************************************/   

#footer {
    font-size:13px;
    text-align: left;
	color: #6D6D6D;
	background: #0d0e0e;
	/*margin: 40px 0 0;*/
}

.page-template-template-menu-php #footer, .page-template-template-menu-widgetized-php #footer {
	margin-top: 0;
}

#footer a {
	color: #aaa;
}

#footer a:hover, #footer a:active {
	color: #8548c9;
}

#footer .wrap {
	width: 980px;
	padding: 50px 0 0;
	border-bottom: 1px solid #8548c9;
	margin: 0 auto;
}

#footer .column {
	float: left;
	/*width: 210px;*/
	width: 20%;
	overflow: hidden;
	margin: 0 10px 0 0;
}

#footer .column.last {
	margin-right: 0;
	width: 35%;

}

#footer .widgets {
	padding: 0 0 40px;
	border-bottom: 1px solid #212323;
	margin: 0 0 50px;
}

#footer .widget :last-child {
	margin-bottom: 0;
}

#footer .widget h3.title {
	font: 24px Georgia, serif;
	font-weight: normal;
	line-height: normal;
	color: #c5c9c9;
	margin: 0 0 20px;
}

#footer .logo {
	display: inline-block;
	background-color: #2a2c2d;
	vertical-align: bottom;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin: 0;
}

#footer .logo h1, #footer .logo h1 a {
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	color: #fff;
}

#footer .logo h1 {
	height: 100%;
	width: 100%;
}

#footer .logo h1 a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 12px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#footer .inner > .menu {
	display: inline-block;
	font: 13px Georgia, serif;
	font-weight: normal;
	line-height: 50px;
	color: #b9c0c2;
	margin: 0 0 0 20px;
}

#footer .inner > .menu ul {
	list-style: none;
}

#footer .inner > .menu li {
	display: inline;
}

#footer .inner > .menu li:after {
	content: '/';
	color: #858a8c;
	margin: 0 10px;
}

#footer .inner > .menu li:last-child:after {
	content: '';
	margin: 0;
}

#footer .inner > .menu a {
	text-decoration: none;
	color: #b9c0c2;
}

#footer .inner > .menu a:hover, #footer .inner > .menu a:active, #footer .inner > .menu li.current-menu-item a, #footer .inner > .menu li.current_page_item a, #footer .inner > .menu li.current-menu-ancestor a, #footer .inner > .menu li.current-menu-parent a, #footer .inner > .menu li.current_page_parent  a {
	color: #fff;
}

#footer .inner > .menu li.current-menu-item a, #footer .inner > .menu li.current_page_item a, #footer .inner > .menu li.current-menu-ancestor a, #footer .inner > .menu li.current-menu-parent a, #footer .inner > .menu li.current_page_parent  a {
	font-weight: bold;
}

#footer .wpzoom {
	display: inline-block;
	font: 13px Georgia, serif;
	font-weight: normal;
	line-height: 50px;
	color: #B9C0C2;
	float:right;
	margin: 0 0 0 20px;
}

#footer .wpzoom a {
	text-decoration: none;
	color: #b9c0c2;
}

#footer .wpzoom a:hover {
	text-decoration: none;
	color: #fff;
}

/*********************************************************************************************

12. Media Queries

*********************************************************************************************/

/* Small Displays */
@media screen and (max-width: 980px) {

 	#header { width: 95%; }
 	.home #header { top:50px; margin: 0 0 0 -48%; }
	#header-wrap { padding-top: 50px; }
	.home #header-wrap { min-height: inherit;}
	#header #reservez_btn { position: absolute; top:-41px; margin:0; right: 0; }
	#header #numphone { right:150px; top:-35px; }
 
	#slider .details { width: 100%; margin-left:-50%; }
	#slidenav ul { width: 96%; }
	#slidenav ul li {width: 16%; }
	#slidenav ul li .post-thumb img { max-width: 100%; width: 100%; height: auto; margin: 0; display: none; }
	#slidenav ul li:hover .post-thumb, #slidenav ul li.flex-active .post-thumb { height: 28px; }

	#featured-dishes ul li { width: 23%; margin-right: 2%; }
	#featured-dishes ul li img { max-width: 100%; width: 100%; height:auto; }

#content-wrap { 
	width: 92%;
	background-color: none;  
}

	#home-widgets .widget { 
		width: 47%; margin-right: 3%; 
	}
 	 
	.post .post-thumb img { max-width: 100%; width: 100%; height: auto; }
	.post_content { width: 65%; padding-right: 3%; }
	.side-left .post_content { padding-left: 3%; padding-right: 0; }
	.full-width .post_content { width: 100%; }
	.full-width .entry { width: 100%; }
	.entry { width: 100%; }
	.entry img.alignnone,
	.entry img.aligncenter,
	.entry img.alignleft,
	.entry img.alignright,
	.entry img.attachment-fullsize { margin-bottom: 10px; max-width: 100%; width: auto; height: auto; }
	.full-width .entry img.alignnone,
	.full-width .entry img.aligncenter,
	.full-width .entry img.alignleft,
	.full-width .entry img.alignright,
	.full-width .entry img.attachment-fullsize { margin-bottom: 10px; max-width: 100%; width: auto; height: auto; }
   	
	#sidebar { width: 31%; }

 	#featdishes > div { width: 95%; }
	#featdishes .post { width: 31%; margin-left:3%; }

	#categories .category > div { width: 95%; }
	#categories .category .post { width: 46%; margin-right: 3%; padding:1%; }
	#categories .category .post .post-thumb { width: 20%; }
	#categories .category .post .content { width: 76%; padding: 1% 2%; }

	#footer .wrap { width: 95%; }
  	#footer div.column { width: 47%; margin:0 2% 30px 0; display: inline-block; vertical-align: top; float: none; }


}


/* Tablet Portrait */
@media screen and (max-width: 768px) {

	#header { position: relative; width: 100%; }
	.home #header { position: relative; width: 100%; top: 0; margin: 0; left: 0; }
	#header-wrap { padding-top: 0; }
	#header #reservez_btn { top:12px; right: 85px; }
	#header #numphone { top: 16px; right: 205px;  color:#fff; text-shadow:none; }

	.post_content { width: 100%; padding-right: 0; }

	#categories .category .post { width: 97%; margin-right: 0; padding:1%; }
	#categories .category .post:nth-last-child(-n+2) { margin-bottom: 30px; }

	#featured-dishes ul li { width: 47%; margin-right: 3%; margin-bottom: 30px;}

	#slider { height: 500px; }
	#slider .slides > li { height: 500px; }
	#slider .details > div { top:60px; width: 260px; height: 260px;}
	#slider .details .items > li a, #slider .details .items > li span  { max-width: 215px; }
	#slider .details .items > li span { background: none; margin: 25px 0 0; }
	#slider .details h3 { font-size: 24px; }
	.flex-direction-nav { left: 112px;bottom: 24px; }
	.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next { opacity: 1; }

	#sidebar { width: 100%; float: left; }
	 
	.btn_menu { display: block; position: absolute; top: 10px; right: 3%; cursor: pointer; background:url('images/menu.png') no-repeat; padding:0; width:42px; height:38px; }

	#menu { margin-left: 0; width: 90%; padding: 2% 3%;  }
	.mobile-menu { display: none; }
	.dropdown { padding: 0 0 15px 0; }
	.dropdown > li:after { display: none; }
	.dropdown li { line-height: 38px; }
	.dropdown li { display: block; float: none; margin-right: 0; }
	.dropdown a {  }
	.dropdown ul { background: none; border: none; margin-left: 10px; display: block !important; position: relative; visibility: inherit !important; top: 0; width: auto; }
 	.dropdown ul li a { color: #878E91; }
	.dropdown > li > a:hover { margin-top: 0; }
	.dropdown > li > a:after { display: none; }
	.dropdown > li > a:hover:after { border-top-color: #ec5706; }
	.dropdown ul {  -webkit-box-shadow: none; box-shadow: none; padding: 0; }

	.dropdown > li > a:hover { margin-top: 0;  }
	.dropdown > li:hover { margin-top: 0; }
	.dropdown > li:hover > a { margin-top: 0; }
 	.dropdown li:hover  { background:none; }
 
 	.dropdown li:hover ul,
	.dropdown li.sfHover ul { left: 0; top: 0; z-index: 99; }
	ul.dropdown li:hover li ul,
	ul.dropdown li.sfHover li ul { top: 0; }
	ul.dropdown li li:hover ul,
	ul.dropdown li li.sfHover ul { left: 0; top: 0; }
	ul.dropdown li li:hover li ul,
	ul.dropdown li li.sfHover li ul { top: 0; }
	ul.dropdown li li li:hover ul,
	ul.dropdown li li li.sfHover ul { left: 0; top: 0; }

	#home-widgets .widget { width: 100%; margin-right: 0; }

	#btnbox h2:before, #btnbox h2:after { display: none; }
	#btnbox h2 { font-size:26px; }
 
}

/* All Mobile Sizes (devices and browser) */
@media screen and (max-width: 640px) {

	#header #numphone { display: none; }

	#slider { height: 200px; }
	#slider .slides > li { height:200px; }
	#slider .details { margin-left:0; left:0; width: 100%; }
	#slider .details .excerpt { display: none; }
	#slider .details .items > li span { margin: 0; padding-left:30px;}
	#slider .details .items > li a, #slider .details .items > li span { width: 100%; }
	#slider .details > div { text-align:left; right:0; bottom:0; width:100%; height:60px; top:140px; -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0; }
 	#slidenav { display: none; }
 	#slider .details h3 { font-size: 18px; max-width: 100%; padding-top:18px; }
	.flex-direction-nav { bottom: 17px; right:20px; left:auto; }
	
 	#about .hours { width: 100%; float:left; background-position: center top; margin: 0 0 25px; }
  
	#featured-dishes ul li .content p { display: none; }
	#featdishes .post { width: 100%; margin-left:0; margin-bottom:30px; }
	#featdishes .post:first-child, #featdishes .post:nth-child(4n) { margin-left: 0; }

	#footer div.column { width: 100%; margin:0 0 30px 0; display: inline-block; vertical-align: top; float: none; }

}