.stats .panel .panel-heading{
  text-align: center;
  font-size: 25px;
}

.stats .panel .panel-body{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.table-locations{
  text-align: center;
}

.table-locations a:last-child{
  margin-left: 12px; 

}

#progressbox {
  border: 1px solid #0099CC;
  padding: 1px;
  position:relative;
  width:400px;
  border-radius: 3px;
  margin: 10px;
  display:none;
  text-align:left;
}

#progressbar {
  height:20px;
  border-radius: 3px;
  background-color: #003333;
  width:1%;
}


#statustxt {
  top:3px;
  left:50%;
  position:absolute;
  display:inline-block;
  color: #000000;
}

.btn_submit{
  background-color: hsl(202, 78%, 55%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#96d0f2", endColorstr="#32a4e5");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#96d0f2), to(#32a4e5));
  background-image: -moz-linear-gradient(top, #96d0f2, #32a4e5);
  background-image: -ms-linear-gradient(top, #96d0f2, #32a4e5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96d0f2), color-stop(100%, #32a4e5));
  background-image: -webkit-linear-gradient(top, #96d0f2, #32a4e5);
  background-image: -o-linear-gradient(top, #96d0f2, #32a4e5);
  background-image: linear-gradient(#96d0f2, #32a4e5);
  border-color: #32a4e5 #32a4e5 hsl(202, 78%, 49.5%);
  color: fff !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
  -webkit-font-smoothing: antialiased;
  min-width: 150px;
  padding: 5px 25px;
  font-size: 18px;
}

.btn_reset{
  background-color: hsl(0, 82%, 34%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec4545", endColorstr="#9d0f0f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ec4545), to(#9d0f0f));
  background-image: -moz-linear-gradient(top, #ec4545, #9d0f0f);
  background-image: -ms-linear-gradient(top, #ec4545, #9d0f0f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec4545), color-stop(100%, #9d0f0f));
  background-image: -webkit-linear-gradient(top, #ec4545, #9d0f0f);
  background-image: -o-linear-gradient(top, #ec4545, #9d0f0f);
  background-image: linear-gradient(#ec4545, #9d0f0f);
  border-color: #9d0f0f #9d0f0f hsl(0, 82%, 27.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
  min-width: 150px;
  padding: 5px 25px;
  font-size: 18px;
}

#uploader_start{
  display: none !important;
}


/*Plupload*/
#plupload{
  font-family: 'Calibri',sans-serif;
  color: #AAA;
}

#droparea{
  border: 4px dashed #DDD;
  height: 200px;
  text-align: center;
  font-size: 13px;
  margin: 15px 20px;
}


#droparea .survol-upload{
  border:4px dashed red;
  /*border-color: red;*/
}

#droparea p{
  margin: 0;
  padding: 60px 0 0 0;
  font-weight: bold;
  font-size: 20px; 
}

#droparea span{
  display: block;
  margin-bottom: 5px;
}

#browse{
  border: 1px solid #BBB;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 15px;
  color: #464646;
  z-index:99999;
}

#filelist{
  margin-top: 10px;
}

#filelist .pl-file{
  border: 1px solid #DFDFDF;
  height: 75px;
  line-height: 75px;
  padding: 0 10px;
  margin-bottom: 10px;
  position: relative;
}

.pl-file img{
  height: 55px;
  margin-right: 10px;
  vertical-align: middle;
}

.pl-file .img_actions{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 3px;
}

.del{
  color: red;
}

#filelist .progressbar{
  background-color: #abb2bc;
  position: absolute;
  top:25px;
  right: 5px;
  width: 150px;
  height: 20px;
  border-radius: 25px;
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
}

#filelist .progress{
  position: absolute;
  border: 1px solid #4c8932;
  height: 18px;
  width: 10%;
  background-color: #FF0000;
  border-radius: 25px;
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.actions{
  margin-left: 5px;
}

#uploadzik{
  display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    margin-left: 15px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#select_file{
  font-size: 13px;
  padding: 15px;
}